<div ng-if="!models.selected" class="box box-grey box-padding">
    <h3>Mockup Name</h3>
    <div class="selected-box">
         <input type="text" ng-model="models.result.name" class="form-control" style="margin: 10px 0" />
    </div>
</div>
<div ng-if="models.selected" class="box box-grey box-padding">
    <h3>Selected</h3>
    <div class="selected-box">
        <strong>Type: </strong> {{models.selected.type}}<br>
        <input type="text" ng-model="models.selected.name" class="form-control" style="margin-top: 5px" />
        <div ng-repeat="(key,prop) in models.selected.properties">
            <div ng-if="key == 'landmark' || key == 'default'" class="squaredThree">
              <input type="checkbox" ng-model="models.selected.properties[key]" id="{{key}}"/>
               {{key}}: <label for="{{key}}"></label>
            </div>
            <div ng-if="key != 'landmark' && key != 'default' && key != 'url' && key != 'align'
                && key != 'tipo' && key != 'entity' && key != 'attributes' && key != 'clase'">
                <strong>{{key}}</strong>
                <input ng-if="key != 'fontSize'" type="text" ng-model="models.selected.properties[key]" class="form-control" style="margin-top: 5px"/>
                <input ng-if="key == 'fontSize'" type="text" ng-model="models.selected.properties[key]" class="form-control" style="margin-top: 5px"/>
            </div>
            <div ng-if="key == 'align'" >
                <label>align</label>
                <select ng-model="models.selected.properties.align"
                    ng-options="e for e in ['left', 'center', 'right']">
                </select>
            </div>
            <div ng-if="key == 'url'" >
                <label>URL:</label>
                <input type="url" ng-model="models.selected.properties.url" class="form-control">
            </div>
            <div ng-if="key == 'tipo'" >
                <label>tipo:</label>
                <select ng-model="models.selected.properties.tipo"
                    ng-options="t for t in models.domain_types.tipos">
                </select>
            </div>
            <div ng-if="key == 'entity'" >
                <label>entity:</label>
                <select ng-model="models.selected.properties.entity"
                    ng-options="idx as e.name for (idx, e) in models.result.domain[0].children"
                    ng-change="limpiarAtributos(models.selected);">
                </select>
            </div>
            <div ng-if="key == 'attributes'" class="attr_div">
                <label class="attr">attributes:</label>
                <label ng-repeat="a in filterChildren(models.selected, 'domain_attribute')" class="attr">
                  {{a.properties.nombre}}
                  <input
                    type="checkbox"
                    ng-change="seleccionarAtributo(models.selected, a);"
                    ng-model="a.properties.checked">
                </label>
            </div>
            <div ng-if="key == 'clase'">
                <label>clase</label>
                <select ng-model="models.selected.properties.clase"
                    ng-options="e.name as e.name for (idx, e) in models.result.domain[0].children">
                </select>
            </div>
        </div>
        <!-- <div ng-if="models.selected.type == 'association'" >
            <label>Clase origen:</label>
            <select ng-model="models.selected.properties.end1"
                ng-options="c as c.name for c in models.result.domain[0].children track by c.name">
            </select>
        </div>
        <div ng-if="models.selected.type == 'association'" >
            <label>Clase destino:</label>
            <select ng-model="models.selected.properties.end2"
                ng-options="c as c.name for c in models.result.domain[0].children track by c.name">
            </select>
        </div> -->
        <hr>

        <!-- Submit -->
        <div class="event-box" ng-if="models.selected.type == 'link' || models.selected.type == 'submit_button' || models.selected.type == 'table'" layout="column">
            <label> {{models.selected.events[0].type}}:
            <select ng-model="models.selected.events[0].link">
                <option
                    ng-repeat="p in models.result.pages"
                    value="{{p.id}}">{{p.name}}</option>
            </select>
            </label>
        </div>

        <!-- Submit -->
        <div class="event-box" ng-if="models.selected.type == 'form'" layout="column">
            <label> {{models.selected.events[0].type}}:
            <select ng-model="models.selected.events[0].link">
                <option
                    ng-repeat="m in filterMethod(models.selected)"
                    value="{{m.id}}">{{m.properties.firma}}:{{m.properties.tipo}}</option>
            </select>
            </label>
        </div>


        <!-- Item and Button-->
        <div class="event-box" ng-if="models.selected.type == 'item' || models.selected.type == 'button'" layout="column" layout-align="space-between center">
            <label>Events:
            <select
                ng-model="models.eventSelected"
                ng-options="e.type for e in models.events | filter: filterEventsAlreadyAdded">
            </select>
            </label>
            <label> To:
            <select ng-model="models.eventSelected.link">
                <option
                    ng-repeat="p in models.result.pages"
                    value="{{p.id}}">{{p.name}}</option>
            </select>
            </label>
            <button class="btn btn-primary" ng-click='addEvent()'>Agregar</button>

            <div ng-hide="models.selected.events.length === 0">Interactions</div>
            <div>
                <ul class="events">
                    <li class="event-row" ng-repeat="se in models.selected.events">
                        <span class="gray-text">{{ se.type }}:</span> {{ se.link }} <a ng-click="removeEvent(se.type)" class="delete-event">x</a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>

<div class="trashcan box box-grey box-padding">
    <!-- If you use [] as referenced list, the dropped elements will be lost -->
    <h3>Trashcan</h3>
    <div dnd-list="[]" style="text-align:center">
        <img width="80" src="images/icons/trashcan.png">
    </div>
</div>
