<table class="table table-striped table-hover ">
  <tbody>
    <th ng-repeat="a in item.properties.attributes">
      {{a.properties.nombre}}
    </th>
    <th></th>
    <tr>
      <td ng-repeat="a in item.properties.attributes">
        {{a.properties.nombre}}_1
      </td>
      <td>
        <a href="#">Details</a> |
        <a href="#">Edit</a> |
        <a href="#">Delete</a>
      </td>
    </tr>
    <tr>
      <td ng-repeat="a in item.properties.attributes">
        {{a.properties.nombre}}_2
      </td>
      <td>
        <a href="#">Details</a> |
        <a href="#">Edit</a> |
        <a href="#">Delete</a>
      </td>
    </tr>
    <tr>
      <td ng-repeat="a in item.properties.attributes">
        {{a.properties.nombre}}_3
      </td>
      <td>
        <a href="#">Details</a> |
        <a href="#">Edit</a> |
        <a href="#">Delete</a>
      </td>
    </tr>
  </tbody>
</table>
<span class="item-name" ng-if="models.selected === a">{{a.name}}</span>
